extends layout
block content
  #events
    h1 Hva skjer?
    each event in events
      a.event(href=event.link, target="blank")
        h2= event.name
        .when.meta
          .fa.fa-clock-o
          |  #{event.when}
        if event.location
          .location.meta
            .fa.fa-globe
            |  #{event.location}
        .fa.fa-external-link
