mixin flags
  a.flag.en(href="?locale=en", class=locale == 'en' ? 'active' : '')
    svg(version="1.1", id="flag_en", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="47px", height="30px", viewBox="0 0 437.54 280.926", enable-background="new 0 0 437.54 280.926", xml:space="preserve")
      <polygon fill-rule="evenodd" clip-rule="evenodd" points="437.207,0 437.207,0.02 283.754,98.607 262.191,98.607 262.191,90.199 402.609,0 387.327,0 244.292,92.084 244.292,116.203 307.692,116.203 437.54,32.617 437.54,0 "/>
      <polygon fill-rule="evenodd" clip-rule="evenodd" points="0,249.355 0,280.926 152.287,183.121 175.017,183.121 175.017,190.746 33.413,281.705 50.591,281.705 193.241,189.878 193.241,165.5 130.254,165.5 "/>
      g
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="0,165.5 0,183.121 175.017,183.121 175.017,281.705 193.241,281.705 193.241,165.5 	"/>
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="193.241,0 175.017,0 175.017,98.607 0,98.607 0,116.203 193.241,116.203 	"/>
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="244.292,281.705 262.524,281.705 262.524,183.121 437.54,183.121 437.54,165.5 244.292,165.5 	"/>
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="262.524,98.607 262.524,0 244.292,0 244.292,116.203 437.54,116.203 437.54,98.607 	"/>
      <polygon fill-rule="evenodd" clip-rule="evenodd" points="437.54,258.447 437.54,249.355 307.284,165.5 244.292,165.5 244.292,189.871 386.956,281.705 437.54,281.705 437.54,280.715 285.303,182.936 319.942,182.936 "/>
      <polygon fill-rule="evenodd" clip-rule="evenodd" points="50.206,0 0,0 153.212,98.422 118.571,98.422 0,22.25 0,32.617 129.85,116.203 193.241,116.203 193.241,92.082 "/>
    </svg>
  a.flag.nb(href="?locale=nb", class=locale == 'nb' ? 'active' : '')
    svg(version="1.1", id="flag_no", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="47px", height="30px", viewBox="0 0 437.559 281.734", enable-background="new 0 0 437.559 281.734", xml:space="preserve")
      g
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="0,158.471 0,176.09 123.064,176.09 123.064,281.734 141.31,281.734 141.31,158.471 	"/>
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="141.31,0 123.064,0 123.064,105.645 0,105.645 0,123.271 141.31,123.271 	"/>
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="177.756,281.734 196.001,281.734 196.001,176.09 437.559,176.09 437.559,158.471 177.756,158.471 	"/>
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="196.001,105.645 196.001,0 177.756,0 177.756,123.271 437.559,123.271 437.559,105.645 	"/>
    </svg>
