extends layout
block content
  #nav
    .left
      .logo
    .right.nav
      .item Nyheter
      .item Kurs
      .item Om Lindy Hop og Oss
  #hero
    #hero-title
  #about
    .blurb Vi er en danseklubb i Bergen som driver med amerikanske jazzdanser fra første halvdel av 1900-tallet, som <strong>Lindy Hop, Balboa og Charleston.</strong>

