include schedules
extends layout
block prenav
  .index
block content
  #index
    #hero
      #hero-title
    #portal
      a.box(href="/kurs")
        .image(style="background-image: url(/img/kurs.jpg)")
        .inner-box
          h1 Kurs
      a.box(href="/lokaler")
        .image(style="background-image: url(/img/lokaler.jpg)")
        .inner-box
          h1 Lokaler
      a.box(href="/hvaskjer")
        .image(style="background-image: url(/img/hvaskjer.jpg)")
        .inner-box
          h1 Hva skjer?
      a.box(href="/om")
        .image(style="background-image: url(/img/manning.jpg)")
        .inner-box
          h1 Dansene
      a.box(href="/musikk")
        .image(style="background-image: url(/img/musikk.jpg)")
        .inner-box
          h1 Musikk
    #about
      .about-box
        .blurb Cottontails er en danseklubb i Bergen som driver med amerikanske jazzdanser fra første halvdel av 1900-tallet, som <strong>Lindy Hop, Balboa og Charleston.</strong>
    #feed
      .content
        h1 Vår nyhetsstrøm
        .stories
          each story in stories
            .news
              a.story(href=story.link) #{story.story} 
                if story.link
                  .fa.fa-external-link-square
              .date #{story.date.toString()}
      .content.wider
        .halfbox
          h2 Ukentlig timeplan
          .day
            h3 Tirsdag
            mixin tuesday
          .day
            h3 Torsdag
            mixin thursday
        .halfbox.map
          h2 Asylbarnehagen
          .map
          .explanation Explanation of where the gate and entrance is at Asylbarnehagen
