include schedules
extends layout
block content
  #kurs
    #timeplan
      .content
        h1 Timeplan Vinter/Vår 2014
        .halfbox
          h2 Tirsdag
          .day
            mixin tuesday
        .halfbox
          h2 Torsdag
          .day
            mixin thursday
    #about
      h1 Om kursene
      p Our courses for Autumn are now finished. For our winter/spring semester,
        | we'll be running two levels. One at level 2 (the continuation of 
        | level 1 from Autumn), and one at level 3. You can find descriptions
        | of the levels below. <strong>Registration is now open!</strong>
        | You can use the link below to sign up.
      .registration Sign me up for the winter/spring courses!
    #levels
      .content
        h1 Nivåer
        p.main-overview Er du usikker på hvilket nivå som passer for deg, kan du ta kontakt med den instruktøren du hadde på kurs forrige semester. Dersom du er tilflytter til Bergen, ta kontakt med klubben så vil vi henvise deg til en instruktør du kan snakke med.
      .content.wider
        .halfbox
          h2 Nivå 2
          p Dette nivået vil bygge videre på det som har blitt undervist på nivå 1. Vi vil lære nye turer og teknikker samt forbedre det vi allerede har jobbet med. Målet er å bli enda bedre dansere slik at vi får det enda gøyere på sosialdansegulvet:-) Forutsetningene for å delta på nivå 2 er minst ett semesters erfaring med Lindy Hop, enten herfra eller fra andre klubber. 
        .halfbox
          h2 Nivå 3
          p Dette kurset er for deg som har fullført og behersker både nivå 1 og nivå 2 eller har tilsvarende danseerfaring. Du danser Lindy Hop gjerne mer enn en gang i uken, og har et ønske om mer avansert trening og egenutvikling. Det er en fordel om du deltar på Lindy Hop workshop-er som arrangeres av andre Lindy Hop klubber. Hovedfokus på undervisningen vil være å fordype seg i danseteknikk for å bli en enda bedre danser. På egentreningen vil det ikke være noe undervisningsopplegg. Dette er en mulighet for å øve på det som du har lyst til, og det forutsettes dermed at du er selvgående og har evne til å planlegge din egen time.

