extends layout
block content
  #lokaler
    #hero
      .bg
      .not-bg
        h1 
          .fa.fa-home
          |  Asylbarnehagen
        p Vi holder alle kurs og fest på Asylbarnehagen (Asylplassen 2), med mindre
          | vi gir andre instruksjoner. 
      #entry
        .map
          img(src="/img/map.jpg")
        .entrydesc We hold our courses in the hall on the 2nd floor, behind the
          | playground. To get in, continue up Heggebakken past Asylplassen, until
          | you see the gateway to the kindergarden playground. Enter the gateway,
          | and proceed up the stairs behind the playground.


