extends layout
block content
  #lokaler
    #hero
      .bg
      .not-bg
        h1 
          .fa.fa-home
          |  #{asylbarnehagen.fields.title}
        | !{asylbarnehagen.fields.desc}
      #entry
        .map
          img(src="/img/map.jpg")
        .entrydesc!= asylbarnehagen.fields.directions

