mixin tuesday
  .set
    .time 19-20
    .desc Nivå 3
    .location 
      .fa.fa-home
      |  Asylbarnehagen
  .set
    .time 20-22
    .desc Egentrening
    .location 
      .fa.fa-home
      |  Asylbarnehagen

mixin thursday
  .set
    .time 18:30-20
    .desc Nivå 2
    .location 
      .fa.fa-home
      |  Asylbarnehagen
  .set
    .time 20-22
    .desc Sosialdans
    .location 
      .fa.fa-home
      |  Asylbarnehagen

mixin day(day)
  .day
    h3!= day.fields.day
    each event in day.fields.events   
      .set
        .time= event.fields.time
        .desc!= event.fields.title
        .location
          .fa.fa-home
          |  #{event.fields.location}
