body,
html {
  margin: 0px;
  padding: 0px;
}
body {
  min-width: 320px;
  background-color: #211f1c;
}
#index #hero {
  width: 100%;
  height: 500px;
  padding-top: 80px;
  background-image: url("/img/dd.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#index #hero #hero-title {
  background-image: url("/img/title.svg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 65%;
  height: 100%;
  margin: 0 auto;
}
#lokaler .place {
  position: relative;
  color: #fffad5;
}
#lokaler .place.asylbarnehagen {
  background-color: #105b63;
}
#lokaler .place.asylbarnehagen .bg {
  background-image: url("/img/asylbarnehagen.jpg");
}
#lokaler .place.asylbarnehagen .not-bg p {
  color: #ffd34e;
}
#lokaler .place.lagshuset {
  background-color: #db9e36;
}
#lokaler .place.lagshuset .bg {
  background-image: url("/img/lagshuset.jpg");
}
#lokaler .place.lagshuset .not-bg p {
  color: #105b63;
}
#lokaler .place .not-bg {
  padding: 80px 30%;
  text-align: center;
}
#lokaler .place .bg {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
#lokaler .place h1 {
  font-size: 54px;
  font-family: "lust-script", "Lust Script";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  padding-bottom: 20px;
  margin-bottom: 60px;
  border-bottom: 2px solid #fffad5;
}
#lokaler .place .not-bg p {
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 26px;
  line-height: 42px;
  padding: 0px 10%;
}
#lokaler .place #entry {
  padding: 0px 10% 80px;
  position: relative;
  zoom: 1;
}
#lokaler .place #entry:before,
#lokaler .place #entry:after {
  content: "";
  display: table;
}
#lokaler .place #entry:after {
  clear: both;
}
#lokaler .place #entry .map {
  width: 55%;
  margin-right: 5%;
  float: left;
}
#lokaler .place #entry .map img {
  width: 100%;
}
#lokaler .place #entry .entrydesc {
  width: 40%;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 22px;
  line-height: 32px;
  color: #fffad5;
  float: right;
  padding: 40px 0px;
  border-top: 2px solid #fffad5;
  border-bottom: 2px solid #fffad5;
}
#lokaler .place #entry .entrydesc p {
  margin: 0px;
  padding: 0px;
}
#events {
  width: 100%;
  padding: 80px 20%;
  background-color: #fffad5;
  color: #211f1c;
  position: relative;
}
#events h1 {
  font-family: "lust-script", "Lust Script";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 54px;
  margin-bottom: 50px;
}
#events p.empty {
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 24px;
}
#events .event {
  width: 50%;
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid #bd4932;
  padding: 50px;
  display: block;
  text-decoration: none;
  color: #211f1c;
  position: relative;
}
#events .event:hover {
  background-color: #bd4932;
  color: #fffad5;
}
#events .event:hover .meta {
  color: #ffd34e;
}
#events .event h2 {
  margin-top: 0px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: normal;
  font-size: 42px;
}
#events .event .fa-external-link {
  position: absolute;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  top: 50%;
  right: 50px;
  color: #fffad5;
  font-size: 45px;
}
#events .event .meta {
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 24px;
  line-height: 32px;
  color: #105b63;
  text-decoration: none;
}
#events .event .meta .fa {
  width: 30px;
  display: inline-block;
}
#about-page > div {
  padding: 80px 10%;
  zoom: 1;
  color: #211f1c;
}
#about-page > div:before,
#about-page > div:after {
  content: "";
  display: table;
}
#about-page > div:after {
  clear: both;
}
#about-page h1 {
  font-family: "lust-script", "Lust Script";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 54px;
}
#about-page p {
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 24px;
  line-height: 32px;
  padding: 0px 5%;
}
#about-page #cottontails {
  background-color: #fffad5;
  color: #211f1c;
}
#about-page #cottontails h1 {
  margin-bottom: 60px;
}
#about-page #cottontails .logo {
  float: left;
  margin-top: -20px;
  width: 200px;
  margin-right: 40px;
}
#about-page #heading {
  padding: 80px 0px;
}
#about-page .dance,
#about-page .dance-head {
  background-color: #211f1c;
  color: #fffad5;
  padding: 0px;
  position: relative;
  width: 100%;
  text-align: center;
}
#about-page .dance h1.really-big,
#about-page .dance-head h1.really-big {
  font-size: 128px;
  font-weight: normal;
  border-bottom: 2px solid #fffad5;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 40px;
}
#about-page .dance:after {
  padding-top: 50%;
  content: '';
  display: block;
}
#about-page .dance#lindyhop video {
  margin-top: 1%;
}
#about-page .dance .videobg {
  width: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 150ms ease-out;
  -moz-transition: opacity 150ms ease-out;
  -o-transition: opacity 150ms ease-out;
  -ms-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}
#about-page .dance .videobg video {
  width: 100%;
  margin-top: -2.25%;
}
#about-page .dance .not-videobg {
  zoom: 1;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
#about-page .dance .not-videobg:before,
#about-page .dance .not-videobg:after {
  content: "";
  display: table;
}
#about-page .dance .not-videobg:after {
  clear: both;
}
#about-page .dance .not-videobg .caption {
  display: inline-block;
  height: 60%;
  width: 50%;
  margin-top: 10%;
  position: relative;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#about-page .dance .not-videobg .caption h1 {
  margin-top: 0px;
  font-size: 84px;
}
#about-page .dance .not-videobg .caption h1 p {
  margin: 0px;
  padding: 0px;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
}
#about-page .dance .not-videobg .caption p {
  font-size: 24px;
  line-height: 32px;
  padding: 0px;
}
#about-page .dance .not-videobg .unmute-button {
  font-size: 30px;
  position: absolute;
  top: 40px;
  cursor: pointer;
  left: 40px;
  color: #ffd34e;
}
#about-page .dance .not-videobg .unmute-button .fa-inverse {
  color: #211f1c;
}
#about-page .dance h1.while-playing {
  font-size: 34px;
  font-family: "Playfair Display";
  font-style: italic;
  text-align: right;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin: 0px;
  padding: 0px;
  -webkit-transition: opacity 150ms ease-out;
  -moz-transition: opacity 150ms ease-out;
  -o-transition: opacity 150ms ease-out;
  -ms-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}
#about-page .dance h1.while-playing p {
  padding: 0px;
  margin: 0px;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}
#about-page .dance.muted .videobg {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
#about-page .dance.muted h1.while-playing {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#about-page .dance.muted .caption {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#about-page .video {
  margin-left: 5%;
  float: left;
  width: 44%;
}
#about-page .video video {
  width: 100%;
}
#about-page .video video[muted] {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#about-page .text {
  margin-right: 5%;
  float: right;
  width: 44%;
}
#about-page .text p {
  margin-top: 0px;
}
#nav {
  width: 100%;
  height: 80px;
  background-color: #fffad5;
  color: #211f1c;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 22px;
}
#nav a {
  text-decoration: none;
  border: none;
  color: inherit;
}
#nav .flag {
  display: inline-block;
  width: 50px;
  height: 80px;
  line-height: 80px;
  margin-left: 20px;
}
#nav .flag.active svg {
  outline: 4px solid #ffd34e;
  outline-offset: 4px;
}
#nav .flag svg {
  max-width: 50px;
  vertical-align: middle;
}
#nav .flag svg polygon {
  fill: #211f1c;
}
#nav .left {
  float: left;
  height: 80px;
  padding-left: 20px;
}
#nav .left .logo {
  display: block;
  background-image: url("/img/ct_new_nothe.svg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  width: 100px;
  height: 60px;
  margin: 10px 20px;
}
#nav .right {
  float: right;
  height: 80px;
  text-align: right;
  padding-right: 20px;
}
#nav .nav .item {
  vertical-align: top;
  display: inline-block;
  height: 50px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px 18px;
}
#nav .nav .item:hover {
  border-bottom: 3px solid #db9e36;
  padding-bottom: 0px;
}
#nav .nav .item.active {
  padding: 0px 15px;
  border: 3px solid #105b63;
  color: #105b63;
}
.index + #nav {
  position: absolute;
  background: transparent;
  left: 0px;
  top: 0px;
  z-index: 5;
}
#portal {
  background-color: #105b63;
  width: 100%;
  padding: 80px 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
  background-image: url("/img/ct_new_subtle.svg");
  -webkit-background-size: 140%;
  -moz-background-size: 140%;
  background-size: 140%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}
#portal:before,
#portal:after {
  content: "";
  display: table;
}
#portal:after {
  clear: both;
}
@media (max-width: 1024px) {
  #portal {
    padding: 80px 10%;
  }
}
@media (max-width: 1024px) {
  #portal {
    padding: 80px 20%;
  }
}
@media (max-width: 480px) {
  #portal {
    padding: 80px 10%;
  }
}
#portal .box {
  width: 47%;
  height: 400px;
  background-color: #db9e36;
  color: #ffd34e;
  text-align: center;
  font-size: 22px;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-weight: normal;
  margin-top: 50px;
  clear: none;
  position: relative;
  background-color: #fffad5;
  display: block;
}
#portal .box:hover {
  background-color: #ffd34e;
}
#portal .box .image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#portal .box .inner-box {
  color: #211f1c;
  width: 80%;
  height: 40%;
  border: 6px solid #211f1c;
  position: absolute;
  top: 30%;
  left: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#portal .box .inner-box h1 {
  margin: 0px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -25px;
}
#portal .box:nth-child(2n) {
  float: right;
}
#portal .box:nth-child(2n-1) {
  float: left;
}
#portal .box:nth-child(1) {
  margin-top: 0px;
}
#portal .box:nth-child(2) {
  margin-top: 150px;
}
@media (max-width: 768px) {
  #portal .box {
    width: 100%;
    margin-top: 40px;
  }
  #portal .box:nth-child(2n) {
    float: none;
  }
  #portal .box:nth-child(2n-1) {
    float: none;
  }
  #portal .box:nth-child(1) {
    margin-top: 0px;
  }
  #portal .box:nth-child(2) {
    margin-top: 40px;
  }
}
#portal .box h1 {
  margin: 0px;
}
#kurs #about {
  width: 100%;
  padding: 80px 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fffad5;
}
#kurs #about h1 {
  font-size: 54px;
  font-family: "lust-script", "Lust Script";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
#kurs #about p {
  padding: 0px 5%;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 28px;
  line-height: 36px;
}
#kurs #about .registration {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 15px 40px;
  margin: 20px 0px;
  font-size: 36px;
  border: 5px solid #bd4932;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-weight: bold;
}
#kurs #about .registration:hover {
  color: #fffad5;
  background-color: #bd4932;
}
#kurs #about .registration p {
  display: inline;
  font-size: inherit;
  padding: 0px;
  margin: 0px;
}
#kurs #levels {
  width: 100%;
  padding-bottom: 80px;
  background-color: #fffad5;
  color: #211f1c;
  zoom: 1;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 22px;
}
#kurs #levels:before,
#kurs #levels:after {
  content: "";
  display: table;
}
#kurs #levels:after {
  clear: both;
}
#kurs #levels .main-overview {
  padding: 0px 5%;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 28px;
  line-height: 36px;
}
#kurs #levels .halfbox {
  background-color: #ffd34e;
  color: #211f1c;
}
#kurs #levels .halfbox h2 {
  font-family: "Playfair Display";
  font-style: italic;
}
#kurs #levels .halfbox h2 p {
  margin: 0px;
  padding: 0px;
}
#reg_list {
  padding: 80px 20%;
  background-color: #fffad5;
  color: #211f1c;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 1.4em;
}
#reg_list h1,
#reg_list h3 {
  font-family: "Playfair Display";
  font-style: italic;
}
#reg_list textarea {
  font-family: monospace;
  border: 3px solid #211f1c;
  padding: 15px;
  background-color: transparent;
  width: 100%;
  height: 200px;
  font-size: 0.75em;
}
#registration {
  background-color: #fffad5;
  padding: 80px 20%;
  color: #211f1c;
}
#registration > p {
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 18px;
}
#registration input.text {
  font-size: 26px;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  padding: 14px 30px 10px;
  border: 4px solid #211f1c;
  display: inline-block;
  background-color: rgba(33,31,28,0.05);
  width: 60%;
  margin-bottom: 20px;
  border-top: none;
  vertical-align: top;
  font-weight: bold;
}
#registration input.text:focus {
  border-color: #105b63;
  outline: none;
}
#registration .field-content {
  background-color: rgba(33,31,28,0.05);
}
#registration .field label {
  font-family: "brandon-grotesque", "Brandon Grotesque";
  width: 15%;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  padding: 14px 34px 10px;
  font-size: 26px;
  border-bottom: 4px dotted #211f1c;
}
#registration input.role {
  display: none;
}
#registration label.role {
  padding: 10px 30px;
  border: 4px solid #000;
  width: auto;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
#registration label.role.last {
  left: -4px;
}
#registration input.role:checked + label.role {
  background-color: #ffd34e;
  outline: 6px solid #ffd34e;
  z-index: 1;
}
#registration input.role:checked + label.role.last {
  outline-left: 10px solid #ffd34e;
}
#registration input.level {
  display: none;
}
#registration label.level-desc {
  display: inline-block;
  vertical-align: top;
  padding: 10px 30px;
  width: 45%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 2.5%;
  border: 4px solid #211f1c;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 14px;
  cursor: pointer;
}
#registration label.level-desc:hover {
  outline: 6px solid #ffd34e;
}
#registration label.level-desc h3 {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 22px;
}
#registration label.level-desc p,
#registration label.level-desc h3 {
  pointer-events: none;
}
#registration input.level:checked + label {
  background-color: #ffd34e;
  outline: 6px solid #ffd34e;
}
#registration input.submit {
  border: 4px solid #211f1c;
  padding: 10px 30px;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  background-color: transparent;
  font-size: 32px;
  cursor: pointer;
  margin-top: 40px;
  outline: 6px solid #105b63;
}
#registration input.submit:hover {
  outline: 6px solid #db9e36;
}
#registration h2 {
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-weight: normal;
  border-bottom: 4px dotted #211f1c;
  padding: 10px 30px;
  font-size: 26px;
  width: 30%;
}
#registration h1 {
  font-family: "lust-script", "Lust Script";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 54px;
}
#registration h1 p {
  margin: 0;
  padding: 0;
  display: inline;
}
#index #about {
  width: 100%;
  display: block;
  position: relative;
  height: auto;
  padding: 80px 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("/img/fun.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  color: #211f1c;
  font-size: 32px;
  text-align: center;
}
#index #about p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
}
#index #about .blurb {
  padding: 30px 60px;
  border: 6px solid #211f1c;
  background-color: rgba(255,211,78,0.2);
  outline: 30px solid rgba(255,211,78,0.2);
}
@media (max-width: 1280px) {
  #index #about {
    height: auto;
  }
  #index #about .about-box {
    outline: none;
    top: 0px;
    width: 100%;
    height: auto;
    margin-left: 0px;
    left: 0px;
    position: relative;
  }
  #index #portal {
    padding-bottom: 80px;
  }
  #index #feed {
    margin-top: 0px;
    padding-top: 80px;
  }
}
.content + .content {
  margin-top: 80px;
}
.content {
  width: 60%;
  margin: 0 auto;
  zoom: 1;
}
.content h1 {
  font-family: "lust-script", "Lust Script";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 54px;
}
.content:before,
.content:after {
  content: "";
  display: table;
}
.content:after {
  clear: both;
}
.content.wider {
  width: 80%;
}
#feed {
  padding: 80px 0px;
  padding-top: 80px;
  width: 100%;
  background-color: #fffad5;
  zoom: 1;
}
#feed:before,
#feed:after {
  content: "";
  display: table;
}
#feed:after {
  clear: both;
}
#feed .content {
  color: #211f1c;
}
#feed .content .halfbox {
  border-color: #db9e36;
}
#feed .content .halfbox .set .time,
#feed .content .halfbox .set .location {
  color: #db9e36;
}
#feed .content .halfbox .explanation {
  color: #211f1c;
}
#feed .content #map-ab,
#feed .content #map-lh {
  height: 250px;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  #feed .content {
    width: 80%;
  }
}
#feed .content .stories {
  padding: 20px;
  border-left: 1px solid #db9e36;
}
#feed .content .news {
  margin-bottom: 40px;
  color: #105b63;
}
#feed .content .news:last-child {
  margin-bottom: 0px;
}
#feed .content .news .story {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 22px;
  color: inherit;
  text-decoration: none;
}
#feed .content .news .story .fa {
  display: inline-block;
  margin-left: 10px;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  font-size: 0.8em;
  color: inherit;
}
#feed .content .news .date {
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 16px;
  color: #db9e36;
  position: relative;
  padding-left: 20px;
  margin-top: 8px;
}
#feed .content .news .date:before {
  content: '';
  position: absolute;
  width: 30px;
  left: -21px;
  top: 50%;
  height: 10px;
  margin-top: -10px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #db9e36;
  border-left: 1px solid #db9e36;
}
#playlists {
  background-color: #fffad5;
  color: #105b63;
  padding: 80px 20%;
}
#playlists h1 {
  font-size: 54px;
  font-family: "lust-script", "Lust Script";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
#playlists p {
  font-size: 24px;
  line-height: 32px;
  font-family: "brandon-grotesque", "Brandon Grotesque";
}
#playlists .playlists {
  margin-top: 80px;
}
#playlists .playlist {
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 92%;
  display: block;
  text-decoration: none;
  color: inherit;
  border: 5px solid #bd4932;
  padding: 24px 60px;
  position: relative;
}
#playlists .playlist:hover {
  background-color: #bd4932;
  color: #fffad5;
}
#playlists .playlist h2 {
  margin: 0px;
  font-size: 44px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: normal;
}
#playlists .playlist p {
  margin: 0px;
}
#playlists .playlist .fa {
  position: absolute;
  height: 150px;
  width: 130px;
  overflow: hidden;
  line-height: 200px;
  bottom: 0px;
  right: 0px;
  text-align: right;
  color: rgba(255,250,213,0.25);
  font-size: 200px;
}
#timeplan {
  width: 100%;
  padding: 80px 0px;
  background-color: #bd4932;
  color: #fffad5;
}
#timeplan .content {
  width: 70%;
}
#timeplan h1 p {
  display: inline;
  padding: 0px;
  margin: 0px;
}
#timeplan h2 {
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-weight: bold;
  font-style: normal;
}
#timeplan .set {
  font-size: 24px;
}
#timeplan .set .time {
  width: 100px;
}
#timeplan .set .location {
  display: block;
  margin-top: -4px;
  margin-bottom: 6px;
  margin-left: 105px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-size: 0.6em;
}
#timeplan .halfbox:nth-of-type(2) {
  margin-top: 100px;
}
@media (max-width: 720px) {
  #timeplan .halfbox:nth-of-type(2) {
    margin-top: 40px;
  }
}
.halfbox {
  width: 48%;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid #ffd34e;
  padding: 40px;
}
.halfbox:nth-of-type(2n-1) {
  float: left;
  clear: left;
}
.halfbox:nth-of-type(2n) {
  float: right;
  margin-top: 200px;
}
.halfbox:nth-of-type(2n+1) {
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .halfbox {
    width: 100%;
    margin-right: 0px;
    float: none;
  }
  .halfbox:nth-of-type(1) {
    float: none;
  }
  .halfbox:nth-of-type(2) {
    float: none;
    margin-top: 40px;
  }
}
.halfbox h2,
.halfbox h3 {
  margin-top: 0px;
  font-weight: 200;
}
.halfbox h2 p,
.halfbox h3 p {
  margin: 0px;
  padding: 0px;
}
.halfbox h2 {
  font-family: "lust-script", "Lust Script";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 42px;
}
.halfbox h3 {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 26px;
  margin-bottom: 6px;
  margin-top: 20px;
}
.halfbox .map {
  background-image: url("/img/location.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  margin-bottom: 40px;
}
.halfbox .explanation {
  color: #ffd34e;
  font-family: "brandon-grotesque", "Brandon Grotesque";
}
.halfbox .explanation p {
  padding: 0px;
  margin: 0px;
}
.halfbox .set {
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 18px;
}
.halfbox .set p {
  margin: 0px;
  padding: 0px;
}
.halfbox .set .time,
.halfbox .set .desc,
.halfbox .set .location {
  display: inline-block;
  margin-right: 5px;
}
.halfbox .set .location:before {
  font-size: 0.6em;
}
.halfbox .set .location {
  font-size: 0.8em;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.halfbox .set .time,
.halfbox .set .location {
  color: #ffd34e;
}
.halfbox .set .time {
  font-weight: bold;
  width: 70px;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.not-bg {
  padding: 80px 20%;
  z-index: 10;
  position: relative;
}
#contact {
  background-color: #211f1c;
  color: #ffd34e;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
#contact .bg {
  background-image: url("/img/bergen-foot.jpg");
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
#contact h1 {
  font-family: "lust-script", "Lust Script";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-size: 54px;
  display: none;
}
#contact .contact-bits {
  text-align: center;
  display: none;
}
#contact .social-bits {
  text-align: center;
  margin-top: 40px;
  border-top: 2px solid #bd4932;
  padding-top: 40px;
}
#contact .social-bits .bit {
  color: #fffad5;
  border: 5px solid #bd4932;
  padding: 20px 30px;
  font-size: 42px;
  display: inline-block;
  margin: 40px 20px 0px;
  text-decoration: none;
}
#contact .social-bits .bit:hover {
  background-color: #bd4932;
}
#contact .or {
  font-size: 24px;
  font-family: "lust-script", "Lust Script";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-transform: skew(12deg, -7deg);
  -moz-transform: skew(12deg, -7deg);
  -o-transform: skew(12deg, -7deg);
  -ms-transform: skew(12deg, -7deg);
  transform: skew(12deg, -7deg);
}
#contact .email,
#contact .list {
  color: #fffad5;
  display: inline-block;
  padding: 15px 40px;
  border: 5px solid #ffd34e;
  text-decoration: none;
  font-family: "brandon-grotesque", "Brandon Grotesque";
  font-size: 32px;
  margin: 40px 0px;
}
#contact .email:hover,
#contact .list:hover {
  background-color: #ffd34e;
  color: #211f1c;
}
@media (max-width: 620px) {
  #contact .email {
    font-size: 22px;
  }
}
#index + #contact h1 {
  display: block;
}
#index + #contact .contact-bits {
  display: block;
}
