body,
html {
  margin: 0px;
  padding: 0px;
}
#index #hero {
  width: 100%;
  height: 500px;
  background-image: url("/img/dd.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#index #hero #hero-title {
  background-image: url("/img/title.svg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 65%;
  height: 100%;
  margin: 0 auto;
}
#lokaler #hero {
  background-color: #105b63;
  position: relative;
  color: #fffad5;
}
#lokaler #hero .not-bg {
  padding: 80px 30%;
  text-align: center;
}
#lokaler #hero .bg {
  background-image: url("/img/lokaler.jpg");
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
#lokaler #hero h1 {
  font-size: 54px;
  font-family: "Playfair Display";
  font-style: italic;
  padding-bottom: 20px;
  margin-bottom: 60px;
  border-bottom: 2px solid #fffad5;
}
#lokaler #hero p {
  font-family: "Brandon Grotesque";
  font-size: 26px;
  line-height: 42px;
  padding: 0px 10%;
  color: #ffd34e;
}
#lokaler #hero #entry {
  padding: 0px 10% 80px;
  position: relative;
  zoom: 1;
}
#lokaler #hero #entry:before,
#lokaler #hero #entry:after {
  content: "";
  display: table;
}
#lokaler #hero #entry:after {
  clear: both;
}
#lokaler #hero #entry .map {
  width: 55%;
  margin-right: 5%;
  float: left;
}
#lokaler #hero #entry .map img {
  width: 100%;
}
#lokaler #hero #entry .entrydesc {
  width: 40%;
  font-family: "Brandon Grotesque";
  font-size: 22px;
  line-height: 32px;
  color: #fffad5;
  float: right;
  padding: 40px 0px;
  border-top: 2px solid #fffad5;
  border-bottom: 2px solid #fffad5;
}
#events {
  width: 100%;
  padding: 80px 20%;
  background-color: #fffad5;
  color: #211f1c;
  position: relative;
}
#events h1 {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 54px;
  margin-bottom: 50px;
}
#events .event {
  width: 50%;
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid #bd4932;
  padding: 50px;
  display: block;
  text-decoration: none;
  color: #211f1c;
  position: relative;
}
#events .event:hover {
  background-color: #bd4932;
  color: #fffad5;
}
#events .event:hover .meta {
  color: #ffd34e;
}
#events .event h2 {
  margin-top: 0px;
  font-family: "Playfair Display";
  font-weight: normal;
  font-style: italic;
  font-size: 42px;
}
#events .event .fa-external-link {
  position: absolute;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  top: 50%;
  right: 50px;
  color: #fffad5;
  font-size: 45px;
}
#events .event .meta {
  font-family: "Brandon Grotesque";
  font-size: 24px;
  line-height: 32px;
  color: #105b63;
  text-decoration: none;
}
#events .event .meta .fa {
  width: 30px;
  display: inline-block;
}
#about > div {
  padding: 80px 10%;
  zoom: 1;
  color: #211f1c;
}
#about > div:before,
#about > div:after {
  content: "";
  display: table;
}
#about > div:after {
  clear: both;
}
#about h1 {
  font-family: "Playfair Display";
  font-size: 54px;
  font-style: italic;
}
#about p {
  font-family: "Brandon Grotesque";
  font-size: 24px;
  line-height: 32px;
  padding: 0px 5%;
}
#about #cottontails {
  background-color: #fffad5;
  color: #211f1c;
}
#about #cottontails h1 {
  margin-bottom: 60px;
}
#about #cottontails .logo {
  float: left;
  margin-top: -20px;
  width: 200px;
  margin-right: 40px;
}
#about #heading {
  padding: 80px 0px;
}
#about .dance,
#about .dance-head {
  background-color: #211f1c;
  color: #fffad5;
  padding: 0px;
  position: relative;
  width: 100%;
  text-align: center;
}
#about .dance h1.really-big,
#about .dance-head h1.really-big {
  font-size: 128px;
  font-weight: normal;
  border-bottom: 2px solid #fffad5;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 40px;
}
#about .dance:after {
  padding-top: 50%;
  content: '';
  display: block;
}
#about .dance .videobg {
  width: 100%;
  z-index: 0;
  position: absolute;
  left: 0;
  overflow: hidden;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 150ms ease-out;
  -moz-transition: opacity 150ms ease-out;
  -o-transition: opacity 150ms ease-out;
  -ms-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}
#about .dance .videobg video {
  width: 100%;
  margin-top: -2.25%;
}
#about .dance .not-videobg {
  zoom: 1;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
#about .dance .not-videobg:before,
#about .dance .not-videobg:after {
  content: "";
  display: table;
}
#about .dance .not-videobg:after {
  clear: both;
}
#about .dance .not-videobg:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#about .dance .not-videobg .caption {
  display: inline-block;
  vertical-align: middle;
  height: 60%;
  width: 50%;
  position: relative;
  -webkit-transition: opacity 150ms ease-out;
  -moz-transition: opacity 150ms ease-out;
  -o-transition: opacity 150ms ease-out;
  -ms-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#about .dance .not-videobg .caption h1 {
  margin-top: 0px;
  font-size: 84px;
}
#about .dance .not-videobg .caption p {
  font-size: 24px;
  line-height: 32px;
  padding: 0px;
}
#about .dance .not-videobg .unmute-button {
  font-size: 30px;
  position: absolute;
  top: 40px;
  cursor: pointer;
  left: 40px;
  color: #ffd34e;
}
#about .dance .not-videobg .unmute-button .fa-inverse {
  color: #211f1c;
}
#about .dance h1.while-playing {
  font-size: 34px;
  font-family: "Playfair Display";
  font-style: italic;
  text-align: right;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40%;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin: 0px;
  padding: 0px;
  -webkit-transition: opacity 150ms ease-out;
  -moz-transition: opacity 150ms ease-out;
  -o-transition: opacity 150ms ease-out;
  -ms-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}
#about .dance.muted .videobg {
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
#about .dance.muted h1.while-playing {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#about .dance.muted .caption {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#about .video {
  margin-left: 5%;
  float: left;
  width: 44%;
}
#about .video video {
  width: 100%;
}
#about .video video[muted] {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#about .text {
  margin-right: 5%;
  float: right;
  width: 44%;
}
#about .text p {
  margin-top: 0px;
}
#nav {
  width: 100%;
  height: 80px;
  background-color: #fffad5;
  color: #211f1c;
  font-family: "Brandon Grotesque";
  font-size: 22px;
}
#nav .left {
  float: left;
  height: 80px;
  padding-left: 20px;
}
#nav .left .logo {
  background-image: url("/img/ct_new_nothe.svg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  width: 100px;
  height: 60px;
  margin: 10px 20px;
}
#nav .right {
  float: right;
  height: 80px;
  text-align: right;
  padding-right: 20px;
}
#nav .nav .item {
  vertical-align: top;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  padding: 0px 20px;
}
#portal {
  background-color: #105b63;
  width: 100%;
  padding: 80px 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
  background-image: url("/img/ct_new_subtle.svg");
  -webkit-background-size: 140%;
  -moz-background-size: 140%;
  background-size: 140%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 320px;
}
#portal:before,
#portal:after {
  content: "";
  display: table;
}
#portal:after {
  clear: both;
}
#portal .box {
  width: 47%;
  height: 400px;
  background-color: #db9e36;
  color: #ffd34e;
  text-align: center;
  font-size: 22px;
  font-family: "Brandon Grotesque";
  font-weight: normal;
  margin-top: 50px;
  clear: none;
  position: relative;
  background-color: #fffad5;
}
#portal .box:hover {
  background-color: #ffd34e;
}
#portal .box .image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#portal .box .inner-box {
  color: #211f1c;
  width: 80%;
  height: 40%;
  border: 6px solid #211f1c;
  position: absolute;
  top: 30%;
  left: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#portal .box .inner-box h1 {
  margin: 0px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -25px;
}
#portal .box:nth-child(2n) {
  float: right;
}
#portal .box:nth-child(2n-1) {
  float: left;
}
#portal .box:nth-child(1) {
  margin-top: 0px;
}
#portal .box:nth-child(2) {
  margin-top: 150px;
}
#portal .box h1 {
  margin: 0px;
}
#kurs #about {
  width: 100%;
  padding: 80px 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fffad5;
}
#kurs #about h1 {
  font-size: 54px;
  font-family: "Playfair Display";
  font-style: italic;
}
#kurs #about p {
  padding: 0px 5%;
  font-family: "Brandon Grotesque";
  font-size: 28px;
  line-height: 36px;
}
#kurs #about .registration {
  display: inline-block;
  padding: 15px 40px;
  margin: 20px 0px;
  font-size: 36px;
  border: 5px solid #bd4932;
  font-family: "Brandon Grotesque";
  font-weight: bold;
}
#kurs #about .registration:hover {
  color: #fffad5;
  background-color: #bd4932;
}
#kurs #levels {
  width: 100%;
  padding-bottom: 80px;
  background-color: #fffad5;
  color: #211f1c;
  zoom: 1;
  font-family: "Brandon Grotesque";
  font-size: 22px;
}
#kurs #levels:before,
#kurs #levels:after {
  content: "";
  display: table;
}
#kurs #levels:after {
  clear: both;
}
#kurs #levels .main-overview {
  padding: 0px 5%;
  font-family: "Brandon Grotesque";
  font-size: 28px;
  line-height: 36px;
}
#kurs #levels .halfbox {
  background-color: #ffd34e;
  color: #211f1c;
}
#index #about {
  width: 100%;
  display: block;
  position: relative;
  height: 0px;
  overflow: visible;
}
#index #about .about-box {
  color: #211f1c;
  background-image: url("/img/fun.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 32px;
  text-align: center;
  width: 80%;
  margin-left: -40%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 50px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: -200px;
  outline: 6px solid #211f1c;
  outline-offset: 40px;
}
#index #about .about-box .blurb {
  width: 50%;
  margin: 0 auto;
  padding: 80px 0px;
}
.content + .content {
  margin-top: 80px;
}
.content {
  width: 60%;
  margin: 0 auto;
  zoom: 1;
}
.content h1 {
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 54px;
}
.content:before,
.content:after {
  content: "";
  display: table;
}
.content:after {
  clear: both;
}
.content.wider {
  width: 80%;
}
#feed {
  padding: 80px 0px;
  padding-top: 320px;
  width: 100%;
  background-color: #bd4932;
  zoom: 1;
}
#feed:before,
#feed:after {
  content: "";
  display: table;
}
#feed:after {
  clear: both;
}
#feed .content {
  color: #fffad5;
}
#feed .content .stories {
  padding: 20px;
  border-left: 1px solid #ffd34e;
}
#feed .content .news {
  margin-bottom: 40px;
}
#feed .content .news:last-child {
  margin-bottom: 0px;
}
#feed .content .news .story {
  font-family: "Playfair Display";
  font-size: 22px;
  font-style: italic;
  color: inherit;
  text-decoration: none;
}
#feed .content .news .story .fa {
  display: inline-block;
  margin-left: 10px;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  font-size: 0.8em;
  color: inherit;
}
#feed .content .news .date {
  font-family: "Brandon Grotesque";
  font-size: 16px;
  color: #ffd34e;
  position: relative;
  padding-left: 20px;
  margin-top: 8px;
}
#feed .content .news .date:before {
  content: '';
  position: absolute;
  width: 30px;
  left: -21px;
  top: 50%;
  height: 10px;
  margin-top: -10px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid #ffd34e;
  border-left: 1px solid #ffd34e;
}
#timeplan {
  width: 100%;
  padding: 80px 0px;
  background-color: #bd4932;
  color: #fffad5;
}
#timeplan h2 {
  font-family: "Brandon Grotesque";
  font-weight: bold;
  font-style: normal;
}
#timeplan .set {
  font-size: 24px;
}
#timeplan .set .time {
  width: 100px;
}
#timeplan .set .location {
  display: block;
  margin-top: -4px;
  margin-bottom: 6px;
  margin-left: 105px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-size: 0.6em;
}
#timeplan .halfbox:nth-of-type(2) {
  margin-top: 100px;
}
.halfbox {
  width: 48%;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid #ffd34e;
  padding: 40px;
}
.halfbox:nth-of-type(1) {
  float: left;
}
.halfbox:nth-of-type(2) {
  float: right;
  margin-top: 200px;
}
.halfbox h2,
.halfbox h3 {
  font-family: "Playfair Display";
  margin-top: 0px;
  font-weight: 200;
  font-style: italic;
}
.halfbox h2 {
  font-size: 42px;
}
.halfbox h3 {
  font-size: 26px;
  margin-bottom: 6px;
  margin-top: 20px;
}
.halfbox .map {
  background-image: url("/img/location.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  margin-bottom: 40px;
}
.halfbox .explanation {
  color: #ffd34e;
  font-family: "Brandon Grotesque";
}
.halfbox .set {
  font-family: "Brandon Grotesque";
  font-size: 18px;
}
.halfbox .set .time,
.halfbox .set .desc,
.halfbox .set .location {
  display: inline-block;
  margin-right: 5px;
}
.halfbox .set .location:before {
  font-size: 0.6em;
}
.halfbox .set .location {
  font-size: 0.8em;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.halfbox .set .time,
.halfbox .set .location {
  color: #ffd34e;
}
.halfbox .set .time {
  font-weight: bold;
  width: 70px;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.not-bg {
  padding: 80px 20%;
  z-index: 10;
  position: relative;
}
#contact {
  background-color: #211f1c;
  color: #ffd34e;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
#contact .bg {
  background-image: url("/img/bergen-foot.jpg");
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
#contact h1 {
  font-family: "Playfair Display";
  font-size: 54px;
  font-style: italic;
}
#contact .contact-bits {
  text-align: center;
}
#contact .social-bits {
  text-align: center;
  margin-top: 40px;
  border-top: 2px solid #bd4932;
  padding-top: 80px;
}
#contact .social-bits .bit {
  color: #fffad5;
  border: 5px solid #bd4932;
  padding: 20px 30px;
  font-size: 42px;
  display: inline-block;
  margin: 0px 20px;
  text-decoration: none;
}
#contact .social-bits .bit:hover {
  background-color: #bd4932;
}
#contact .or {
  font-size: 24px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: bold;
  -webkit-transform: skew(12deg, -7deg);
  -moz-transform: skew(12deg, -7deg);
  -o-transform: skew(12deg, -7deg);
  -ms-transform: skew(12deg, -7deg);
  transform: skew(12deg, -7deg);
}
#contact .email,
#contact .list {
  color: #fffad5;
  display: inline-block;
  padding: 15px 40px;
  border: 5px solid #ffd34e;
  text-decoration: none;
  font-family: "Brandon Grotesque";
  font-size: 32px;
  margin: 40px 0px;
}
#contact .email:hover,
#contact .list:hover {
  background-color: #ffd34e;
  color: #211f1c;
}
